node_modules
.idea/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
ENV/
env.bak/

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# IDE / editor settings
.idea/
.vscode/
*.swp

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and local configs
*.log
.env
.env.*
*.sqlite3
*.db

# macOS / Windows
.DS_Store
Thumbs.db

.next/
.env
node_modules
/.next/cache/webpack/client-development
